<ion-header style="background-color: #2c9aea;">
  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <!--<button (click)="disMiss()" style="font-size: 20px;background-color: transparent;color: white">-->
          <!--<ion-icon name="ios-arrow-back"></ion-icon>-->
        <!--</button>-->
      </ion-col>
      <ion-col col-4 id="shoptitle">订单列表</ion-col>
      <ion-col col-4></ion-col>
      <!--</ion-navbar>-->
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content>
  <ion-grid style="margin-bottom: 1em;border-bottom: 1px solid #999" *ngFor="let item of data">
    <ion-row style="padding-top: 10px">
      <ion-col col-2>
        <img src="http://cangdu.org:8001/img/{{item?.restaurant_image_url}}" class="restaurant_image">
      </ion-col>
      <ion-col col-10 class="line1">
        <span class="ordertitle">{{item?.restaurant_name}}
        <button style="" class="jump" (click)="jump(item?.id)">
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
        </span>
        <span class="wait"> {{item?.status_bar.title}}</span>
        <div class="time">{{item?.formatted_created_at}}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2></ion-col>
      <ion-col col-10 class="line2">
        <span class="ordertitle1">{{item?.basket?.group[0][0]?.name}}&nbsp;&nbsp;&nbsp;</span>
        <span class="count" *ngIf="item?.total_quantity==1">{{item?.total_quantity}}件商品</span>
        <span class="count" *ngIf="item?.total_quantity>1">等{{item?.total_quantity}}件商品</span>
        <span class="money"> ¥{{item?.total_amount}}</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2></ion-col>
      <ion-col col-10 class="nothing">
        <div class="btn" *ngIf="item?.status_bar?.title=='等待支付'">
          <span>去支付 （还剩<span *ngIf="item?.Minutes<10">0</span>{{item?.Minutes}}分 <span *ngIf="item?.Seconds<10">0</span> {{item?.Seconds}}秒) </span>
        </div>
        <div class="btn1" *ngIf="item?.status_bar?.title=='支付超时'">
          <span>再来一单</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
